body{
   margin: 0;
   padding: 0;
}
/* Section=>1 */
#top-nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 2px #cac3c3;
}
#top-nav a{
    text-decoration: none;
    color: #2c2828;
    display: inline-block;
    font-size: 15px;
    padding: 6px;
    margin: 13px;
    letter-spacing: 3px;
}
#top-nav-right{
    float: right;
    margin-right: 10px;
}
#home-section{
    position: relative;
    margin-bottom: 50px;
    letter-spacing: 6px;
}
#home-section p{
    position: absolute;
    bottom: 5px;
    left: 18px;
    font-size: 38px;
    color: #415d41;
}
/* Section=>2 */
#section-container{
    width: 70%;
    margin: auto;
}
#about-section p{
    font-size: 20px;
}
#about-section{
    padding-top: 70px;
    margin-bottom: 50px;
}
#img-container{
    box-sizing: border-box;
    width: 49%;
    float: left;
    padding: 10px 20px;
}
#img-container{
    opacity: 0.7;
}
#text-container h1{
    letter-spacing: 3px;
}
#grey{
    color: #105010;
}
#text-container{
    box-sizing: border-box;
    width: 49%;
    float: left;
    padding: 10px 20px;
}
#about-section::after{
    content: "";
    display: table;
    clear: both;
}
/* Section=>3 */
#menu-section::after{
    content: "";
    display: table;
    clear: both;
}
#menu-section{
    padding-top: 70px;
}
#text-containers p{
    columns: #80af7a;
    font-size: 15px;
}
#text-containers{
    box-sizing: border-box;
    padding: 10px 20px;
    width: 49%;
    float: left;
}
#text-containers h3{
    letter-spacing: 3px;
}
#img-containers{
    box-sizing: border-box;
    padding: 10px 20px;
    width: 49%;
    float: left;
    opacity: 0.7;
}
/* Section=>4 */
#contact-section{
    padding: 70px 20px;
    margin-bottom: 50px;
}
#contact-section p{
    font-size: 16px;
}
/* From */
#contact-section input[type="text"], #contact-section input[type="date"]{
    width: 100%;
    border: none;
    border-bottom: 1px solid #80af7a;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 16px;
}
button{
    border: none;
    background-color: #c2bdbd86;
    font-family: 25px;
    padding: 12px;
}
#footer{
    padding: 35px;
    background-color: #d8dcdce1;
    text-align: center;
    color: #208b5e;
    font-size: 18px;
}
#footer a{
    color: #208b5e;
}